.comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.comment-wrapper {
    width: 100%;
    background-color: #ebe4e4;
    display: flex;
    margin-bottom: 20px;
    border-radius: 6px;
    gap: 20px;

    &__left {
        padding-block: 16px;
        margin-left: 20px;
        min-width: 9%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__right {
        padding-block: 16px;
        margin-right: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
}

.comment-reply {
    height: 100%;
    width: calc(100% - 60px);
    background-color: #ebe4e4;
    display: flex;
    margin-bottom: 20px;
    margin-left: 60px;
    border-radius: 6px;
    gap: 20px;
    animation: openReply ease .5s;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-block: 16px;
        padding-left: 20px;
        min-width: 9%;
        border-left: 3px solid #8ED3BB;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;

        >img {
            background: #fff;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #8ED3BB;
            object-fit: cover;
        }
        
    }

    &__right {
        padding-block: 16px;
        margin-right: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
}

.view-reply-container {
    width: 100%;
    background-color: #ebe4e4;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 6px;
    gap: 8px;
    animation: openReply ease .5s;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-block: 16px;
        min-width: 9%;
        border-left: 3px solid #8ED3BB;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;

        >img {
            background: #fff;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #8ED3BB;
            object-fit: cover;
        }
        
    }

    &__right {
        padding-block: 16px;
        margin-right: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
}

@keyframes openReply {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeReply {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-16px);
    }
}

@keyframes openPreview {
    from {
        opacity: 0;
        transform: translateY(-16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closePreview {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-16px);
    }
}

.preview-reply {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    animation: openPreview ease .5s;

    > p {
        font-size: 20px;
        font-weight: 600;
        text-decoration: underline;
        margin-left: 2px;
        margin-bottom: 8px;
    }
}

.closepreview {
    animation: closePreview ease .4s;
}

.closereply {
    animation: closeReply ease .4s;
}

.right-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 12px;
}

.icon-close {
    opacity: 0.7;
    transition: 0.3s;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.right-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    margin-block: 6px;
}

.right-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .report-text {
            margin: 0;
            padding-left: 4px;
        }

        &:hover {
            transition: 0.2s;
            cursor: pointer;

            .report-icon {
                color: red
            }

            .report-text {
                text-decoration: underline;
            }
        }
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
    }
}

.left-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit-text {
        margin: 0;
        padding-left: 4px;
    }

    &:hover {
        transition: 0.2s;
        cursor: pointer;

        .edit-icon {
            color: #d7d235
        }

        .edit-text {
            text-decoration: underline;
        }
    }
}

.left-delete {
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete-text {
        margin: 0;
        padding-left: 4px;
    }

    &:hover {
        transition: 0.2s;
        cursor: pointer;

        .delete-icon {
            color: red
        }

        .delete-text {
            text-decoration: underline;
        }
    }
}

.right-bottom-editor {
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

.btn-reply, .btn-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    background-color: #8ED3BB;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    height: 36px;
    padding-inline: 8px;

    >p {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

    &:hover {
        cursor: pointer;
        background-color: #8ED3BB;
        opacity: 0.8;
    }
}

.btn-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    background-color: #d2d2d2;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    height: 36px;
    padding-inline: 8px;

    >p {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

    &:hover {
        cursor: pointer;
        background-color: #d2d2d2;
        opacity: 0.8;
    }
}

.vertical-divider {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #2a2a2a;
}

.left-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    > span {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
        img {
            background: #fff;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #8ED3BB;
            object-fit: cover;
        }
    }
}

.left-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__date, &__message, &__like {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;

        > p {
            margin: 4px 0;
        }
    }
}

.comment-edit {
    width: 100%;

    &__bottom {
        margin-top: 12px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
    }
}

.comment-content {
    height: 70%;
    font-weight: 400;
    font-size: 16px;
    margin-block: 4px;

    > p {
        margin-block: 8px;
    }
}

.view-replies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin-top: 12px;

    >p {
        font-size: 16px;
        opacity: 0.6;
        transition: 0.3s;
        margin-block: 6px;
    
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}

.icon-reply {
    transform: scaleX(-1);
}

.like-text, .reply-text {
    margin: 0;
    padding-left: 4px;
}

.bottom-right {
    &__like, &__reply {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:hover {
            cursor: pointer;
            transition: 0.2s;

            .like-text, .reply-text {
                text-decoration: underline;
            }
        }
    }
}

.btn-cancel-delete {
    background-color: #888888;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: #888888 !important;
        opacity: 0.8;
    }
}

.comment-username {
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
    margin-bottom: 4px;

    &:hover {
        font-size: 16px;
        cursor: pointer;
        color: #8ED3BB;
        font-weight: 600;
    }
}

.comment-published-date {
    font-weight: 400;
    font-size: 18px;
    color: #6a6969;

    > p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 4px 0;
    }
}

.comment-interact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    
    &__share, &__bookmark, &__number {
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            color: #8ED3BB;
        }
    }
}

.seperate-line {
    border: 1px solid #bfc4c1;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 6px;
}
