.comment-wrapper {
    display: flex;
    padding-block: 10px;
    margin-left: 10px;
    gap: 20px;

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;

        > span {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px solid #FF8682;
                object-fit: cover;
            }
        }
    }

    &__middle {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: flex-start;
        width: 90%;
        margin-inline: 2%;
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        
        .edit, .report {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            background: #FF8682;
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}

.btn-cancel-delete {
    background-color: #888686;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: #888686 !important;
        opacity: 0.8;
    }
}

.comment-username {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;

    > p {
        font-size: 20px;
        margin-block: 8px;
        transition: 0.3s;

        &:hover {
            font-size: 20px;
            cursor: pointer;
            color: #FF8682;
            font-weight: 500;
        }
    }
}

.comment-detail {
    font-weight: 400;
    font-size: 18px;

    > p {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.comment-published-date {
    font-weight: 400;
    font-size: 18px;

    > p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 4px 0;
    }
}

.seperate-line {
    border: 1px solid #bfc4c1;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 6px;
}
