.item {
    display: flex;
}
.test{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.account-info{
    font-size: xx-large;
    margin: 10px;
    .info-container{
        display: flex;
        .title-text{
            width: 10%;
        }
    }
}
.news-comment{
    font-size: xx-large;
    margin: 10px;
    display: flex;
    flex-direction:column;

    .new{
        display: flex;
        flex-direction:column;
        width: 100%;
        .title-text{
            width: 10%;
        }
    }
    .divide{
        height: auto;
        font-size: 90px;
        border: 2px solid;
        flex-grow: 1;
    }
    .comment{
        display: flex;
        flex-direction:column;
        width: 100%;
        .title-text{
            width: 10%;
        }
        .Text {
            max-height: 800px;
            overflow-y: auto;
            border: 1px solid #ccc;
            border: none;
            &_contain {
              width: 300px;
              height: 400px;
              overflow-y: auto;
              border: 1px solid #ccc;
            }
        }  
    }
}

