.create-post-section {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    justify-content: center;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    padding: 20px;
    background: #fff;
  }
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > p {
    font-size: 18px;
    font-weight: 500;
  }

  > img {
    width: 90%;
    height: 500px;
    border-radius: 12px;
    object-fit: contain;
    margin-bottom: 30px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  border: none;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btn-upload-image {
  background-color: rgb(36, 132, 9);
  border: 1px solid;
  border-color: rgb(36, 132, 9) 1px solid;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  padding: 12px 20px;
  font-size: 16px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgb(36, 132, 9) !important;
  }
}

.btn-submit {
  background-color: #212121;
  border: 1px solid;
  border-color: #212121;
  border-radius: 6px;
  color: #fff;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #212121 !important;
  }
}

.categories-options {
  width: 26% !important;
}