/* singlePage.module.scss */
.details-blog {
    max-width: 95%;
    margin: 50px auto;
    background: #fff;

    &__top {
        overflow: hidden;
        width: 100%;
        height: 730px;
    }

    &__content {
        margin: 20px 0;
        font-size: 18px;
        line-height: 2;
        text-transform: capitalize;

        img {
            width: 100%;
        }
    }
}

.details-blog-header {

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 500;
        margin: 8px 0;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >p {
            font-size: 24px;
            font-weight: 500;
        }

        .published_date {
            font-size: 24px;
            font-weight: 500;
        }

        .author {
            font-size: 24px;
            font-weight: 600;
        }
    }
}

.scaled-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;

    .btn-edit {
        border: none;
        border-radius: 6px;
        color: #fff;
        font-weight: 400;
        height: 48px;
        line-height: 1;
        padding: 16px 20px;
        background: #10ac84;
        transition: 0.3s;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    .btn-delete {
        border: none;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        font-weight: 400;
        height: 48px;
        line-height: 1;
        padding: 16px 20px;
        background: #ee5253;
        transition: 0.3s;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

.form-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border: none;
}

.btn-submit-container {
    display: flex;
    justify-content: center;
}

.btn-submit {
    background-color: #10ac84;
    border: 1px solid;
    border-radius: 6px;
    color: #fff;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
        background-color: #10ac84 !important;
    }
}

.categories-options {
    width: 26% !important;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    margin: 3% 4%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.modal-wrapper-delete {
    display: flex;
    margin: 3% 4%;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn-confirm-delete {
    background-color: #ED5253;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: #ED5253 !important;
        opacity: 0.8;
    }
}

.btn-cancel-delete {
    background-color: #888686;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: #888686 !important;
        opacity: 0.8;
    }
}

.seperate-line {
    margin-bottom: 20px;
    border: 1px solid #BFC4C1;
}

.review-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;

        >h2 {
            font-size: 32px;
        }
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;

        >button {
            background-color: #8ED3BB;
            border-radius: 5px;
            border: none;
            transition: 0.3s;
            font-size: 16px;
            font-weight: 600;
            height: 50px;
            padding-inline: 8px;

            &:hover {
                cursor: pointer;
                background-color: #8ED3BB;
                opacity: 0.8;
            }
        }
    }

    h2 {
        margin: 0;
    }
}

.comment {
    margin-top: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 24px;
}

.error-message {
    margin-left: 2px;

    >p {
        color: red;
        font-size: 16px;
    }
}

.btn-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.btn-upload-image {
    margin: 8px 0;
    background-color: #10ac84;
    border: 1px solid;
    border-color: #10ac84 1px solid;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    padding: 12px 20px;
    font-size: 16px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
        background-color: #10ac84 !important;
    }
}

.comment-wrapper {
    background-color: #ebe4e4;
    display: flex;
    margin-bottom: 20px;
    border-radius: 6px;
    height: 100%;
    gap: 20px;

    &__left {
        padding-left: 10px;
        padding-block: 16px;
        min-width: 8%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        > span {
            width: 100px;
            height: 100px;
            border-radius: 50%;
    
            img {
                background: #fff;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px solid #8ED3BB;
                object-fit: cover;
            }
        }
    }

    &__right {
        padding-right: 10px;
        padding-block: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
}

.vertical-divider {
    border-left: 1px solid #2a2a2a;
}

@keyframes openPreview {
    from {
        opacity: 0;
        transform: translateY(-16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closePreview {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-16px);
    }
}

.preview-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    animation: openPreview ease .5s;

    > p {
        font-size: 20px;
        font-weight: 600;
        text-decoration: underline;
        margin-left: 2px;
        margin-bottom: 8px;
    }
}

.closepreview {
    animation: closePreview ease .4s;
}

.right-bottom {
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.btn-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    background-color: #8ED3BB;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    height: 36px;
    padding-inline: 8px;

    >p {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

    &:hover {
        cursor: pointer;
        background-color: #8ED3BB;
        opacity: 0.8;
    }
}

.btn-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    background-color: #d2d2d2;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    height: 36px;
    padding-inline: 8px;

    >p {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

    &:hover {
        cursor: pointer;
        background-color: #d2d2d2;
        opacity: 0.8;
    }
}

.report-modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1.5px);  // Độ mờ có thể điều chỉnh tùy ý

    &__top {
        background-color: #d2d2d2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 14px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 1px solid #8c8c8c;

        > p {
            font-size: 20px;
            font-weight: 600;
            margin: 16px 0;
        }
    }

    &__middle {
        background-color: #ebe4e4;
        border-bottom: 1px solid #8c8c8c;
    }

    &__bottom {
        background-color: #d2d2d2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 10px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.report-modal-template {
    display: flex;
}

.report-modal-container {
    background-color: #fff;
    min-height: 300px;
    min-width: 740px;
    position: relative;
    border-radius: 4px;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease .5s;
}

.close {
    animation: modalFadeOut ease .4s;
}

.report-modal-close {
    opacity: 0.6;
    transition: 0.3s;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.middle-top {
    display: flex;
    gap: 14px;

    &__left {
        margin-block: 12px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        min-width: 220px;

        > p {
            margin: 0;
        }
    }

    &__right {
        margin-top: 12px;
        margin-right: 24px;
    }
}

.report-options {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 8px;

    > input {
        width: 5%;
    }
}

.option-description {
    color: #6f6f6f;
}

.middle-bottom {
    display: flex;
    gap: 14px;

    &__left {
        margin-block: 22px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        min-width: 220px;

        > p {
            margin: 0;
        }
    }

    &__right {
        margin-block: 22px;
    }
}

.report-modal-report {
    background: #ec5455;
    border: none;
    border-radius: 6px;
    padding: 10px 36px;
    transition: 0.3s;
    box-shadow: rgba(149, 157, 165, 0.7) 4px 4px 6px;

    >p {
        font-size: 16px;
        margin: 0;
        color: #fff;
        font-weight: bold;
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modalFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(60px);
    }
}

.not-authorized {
    display: flex;
    justify-content: center;
    align-items: center;

    > button {
        border-radius: 6px;
        padding: 12px 24px;
        border: none;
        background-color: #8ED3BB;
        transition: 0.3s;
        
        >p {
            font-size: 16px;
            margin: 0;
            font-weight: 600;
        }

        &:hover {
            opacity: 0.8;
            cursor: pointer;
            background-color: #8ED3BB;

        }
    }
}
