.item {
    display: flex;
}
.test{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.MuiDataGrid-footerContainer.MuiDataGrid-withBorderColor.css-wop1k0-MuiDataGrid-footerContainer{
    display: flex;
    justify-content: center;
}
  